*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.myLink {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.myLink:hover {
    color: #0056b3;
    text-decoration: underline;
    transform: scale(1.1);
}


.img-box {
    display: flex;
    gap: 20px;
}

.img-box img {
    width: 100px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10px;
}


.img-box img:hover {
    transform: scale(1.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}