* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f4f7;
    color: #1c1e21;

}

.container {
    gap: 8%;
    max-width: 554px;
    display: flex;

    align-items: center;
    justify-content: center;
}

.main-content {
    padding-top: 5%;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.main-content h1 {
    color: #0866ff;
    font-size: 60px;
    font-family: Arial;
}

.main-content p {
    width: 450px;
    color: #1c1e21;
    font-size: 25px;
    font-weight: 500;
    font-family: Arial;
}

.main {
    padding-top: 12%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 20px;
    justify-content: center;
    background-color: white;
    width: 400px;
    height: 370px;
    border-radius: 10px;

}

form input {
    font-size: 18px;
    padding: 10px;
    width: 364px;
    border-radius: 10px;
    border: 1px solid #dddfe2;
}

form input :active {
    border: 1px solid #0866ff;
    border: none;
}

form button {
    font-family: Arial;
    background-color: #0866ff;
    color: #f2f4f7;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    width: 364px;
    border: none;
    border-radius: 10px;
    border: 1px solid #dddfe2;
}

.forget {
    font-family: Arial;
    font-size: 15px;
    cursor: pointer;
    color: #0866ff;
    font-weight: 100;
}

.forget:hover {
    text-decoration: underline #0866ff;
}

span {
    margin: 20px;
    width: 90%;
    height: 2px;
    background-color: #dddfe2;
}

.create {
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-weight: 700;
    padding: 10px;
    width: 200px;
    background-color: #42b72a;
}

.page {
    font-family: Arial;
    font-size: 14px;
    position: relative;
    top: 1rem;

}

.page b {
    cursor: pointer;
}

.page b:hover {
    text-decoration: underline;
}

@media only screen and (max-width:554px) {
    .container {
        flex-wrap: wrap;
        width: 500px;

    }

    .main-content p {
        display: none;
    }

    .main-content h1 {
        font-size: 30px;
    }

    form {
        width: 350px;
    }

    form input {
        width: 300px;
    }

    form button {
        width: 300px;
    }

    .forget {
        font-size: 10px;
    }
}