body {
    background-color: rgb(36, 35, 35);
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    background-color: rgb(64, 64, 255);
    width: 150px;
    height: auto;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: solid 1px grey;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(114, 112, 255, 0.19) 0px 10px 20px, rgba(114, 112, 255, 0.19) 0px 6px 6px;
    transition: box-shadow 1s;
}

button:hover {
    box-shadow: none;
}